<app-top-bar></app-top-bar>

<h1>Oi</h1>

<hello descricao="Roniselton"> </hello>

<div class="container">
  <router-outlet></router-outlet>
</div>

<my-button label="{{ buttonSecond }}"></my-button>

<my-button [label]="buttonLabel"></my-button>

<my-button label="Valor Digitado"></my-button>
<my-button [label]="'Valor Digitado'"></my-button>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
